<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <contact_us>
            <general>
                <enabled>1</enabled>
            </general>
            <email>
                <template>contact_us_tracker_reply</template>
            </email>
        </contact_us>
    </default>
</config>
