<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MageCondition\ContactUsTracker\Ui\DataProvider\Form\DataProvider">
        <arguments>
            <argument name="primaryFieldName" xsi:type="string">entity_id</argument>
            <argument name="requestFieldName" xsi:type="string">id</argument>
            <argument name="feedbackRepository" xsi:type="object">MageCondition\ContactUsTracker\Model\FeedbackRepository</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="contact_us_listing_data_source" xsi:type="string">MageCondition\ContactUsTracker\Model\ResourceModel\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
